/*********************************/
/*********** Variables ***********/
/*********************************/

$number-of-sparkles: 80;
$yellow: #f9df72;

/*********************************/
/***** Sparkling background ******/
/*********************************/

#sparkles {
    background: transparent;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

    i {
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: sparkling;
        background: $yellow;
        background-size: contain;
        border-radius: 50%;
        box-shadow: 0 0 5px 1px $yellow;
        display: inline-block;
        height: 1px;
        margin: 0;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        width: 1px;

        &:nth-child(2n) {
            height: 5px;
            width: 5px;
        }

        &:nth-child(3n) {
            height: 3px;
            width: 3px;
        }
    }

    @for $i from 2 through $number-of-sparkles {
        i:nth-child(#{ $i }) {
            top: calc(#{random(100)} * 1%);
            left: calc(#{random(100)} * 1%);
            animation-delay: 0.5s * ($i % 10);
        }
    }
}

@keyframes sparkling {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
