#modal-overlay {
    z-index: 10;
    background-color: rgba(14, 20, 36, 0.75);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

#modal-container {
    width: 25rem;
    height: 24rem;
    position: relative;
    z-index: 100;
    background-color: #0e1424;
    color: #ffffff;
    border-radius: 1rem;
    border: 0.25rem solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

#close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    border: none;
    cursor: pointer;
}

#close_icon {
    font-size: 1.5rem;
}

#cool-robot {
    font-size: 6rem;
    margin-top: 1rem;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: 0.4em;
    color: #172244;
    padding: 1rem;
    max-width: 10rem;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 1.25rem solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    border-left: 0;
    margin-left: 0.625rem;
    margin-bottom: -1.25rem;
}
