/*********************************/
/*********** Variables ***********/
/*********************************/
/*********************************/
/*********** Start page **********/
/*********************************/
#start-container {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18.75rem;
  height: 18.75rem; }
  @media (max-width: 768px) {
    #start-container {
      width: 14rem;
      height: 14rem; } }

#start-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #fde997, 0 0 40px #f9df72, 0 0 50px #f9df72;
  animation: spin 50s infinite; }
  @media (max-width: 768px) {
    #start-title {
      font-size: 1.5rem; } }

#start-button {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5625rem;
  font-weight: 800;
  color: #ffffff;
  background-color: transparent;
  border: 0.25rem solid #ffffff;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4);
  animation-fill-mode: forwards; }
  #start-button:hover {
    border-color: #ffffff; }

#start-button:hover {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #56b0ff, 0 0 40px #08f, 0 0 50px #08f, 0 0 100px #08f;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, inset 0 0 20px #08f; }

#start-button-container:hover ~ #start-title-container {
  animation: rotating 10s linear infinite;
  animation-fill-mode: forwards; }

.lost {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, 0 0 40px #b71c1c, 0 0 50px #b71c1c !important; }

.won {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #0f0, 0 0 40px #0f0, 0 0 50px #0f0 !important; }

.you-lost {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, 0 0 40px #b71c1c, 0 0 50px #b71c1c, 0 0 100px #b71c1c !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, inset 0 0 20px #b71c1c !important; }
  .you-lost:hover {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #56b0ff, 0 0 40px #08f, 0 0 50px #08f, 0 0 100px #08f !important;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, inset 0 0 20px #08f !important; }

.you-won {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #0f0, 0 0 40px #0f0, 0 0 50px #0f0, 0 0 100px #0f0 !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #0f0, inset 0 0 20px #0f0 !important; }
  .you-won:hover {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #56b0ff, 0 0 40px #08f, 0 0 50px #08f, 0 0 100px #08f !important;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, inset 0 0 20px #08f !important; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin {
  50% {
    transform: rotate(360deg); } }

/*********************************/
/*********** Variables ***********/
/*********************************/
/*********************************/
/***** Sparkling background ******/
/*********************************/
#sparkles {
  background: transparent;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute; }
  #sparkles i {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: sparkling;
    background: #f9df72;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #f9df72;
    display: inline-block;
    height: 1px;
    margin: 0;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    width: 1px; }
    #sparkles i:nth-child(2n) {
      height: 5px;
      width: 5px; }
    #sparkles i:nth-child(3n) {
      height: 3px;
      width: 3px; }
  #sparkles i:nth-child(2) {
    top: calc(84 * 1%);
    left: calc(84 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(3) {
    top: calc(43 * 1%);
    left: calc(7 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(4) {
    top: calc(40 * 1%);
    left: calc(52 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(5) {
    top: calc(86 * 1%);
    left: calc(10 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(6) {
    top: calc(86 * 1%);
    left: calc(26 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(7) {
    top: calc(8 * 1%);
    left: calc(91 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(8) {
    top: calc(86 * 1%);
    left: calc(1 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(9) {
    top: calc(92 * 1%);
    left: calc(45 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(10) {
    top: calc(66 * 1%);
    left: calc(15 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(11) {
    top: calc(68 * 1%);
    left: calc(97 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(12) {
    top: calc(39 * 1%);
    left: calc(19 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(13) {
    top: calc(34 * 1%);
    left: calc(95 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(14) {
    top: calc(57 * 1%);
    left: calc(36 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(15) {
    top: calc(33 * 1%);
    left: calc(66 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(16) {
    top: calc(95 * 1%);
    left: calc(15 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(17) {
    top: calc(62 * 1%);
    left: calc(9 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(18) {
    top: calc(59 * 1%);
    left: calc(11 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(19) {
    top: calc(14 * 1%);
    left: calc(68 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(20) {
    top: calc(41 * 1%);
    left: calc(10 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(21) {
    top: calc(38 * 1%);
    left: calc(32 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(22) {
    top: calc(55 * 1%);
    left: calc(18 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(23) {
    top: calc(58 * 1%);
    left: calc(6 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(24) {
    top: calc(88 * 1%);
    left: calc(37 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(25) {
    top: calc(89 * 1%);
    left: calc(88 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(26) {
    top: calc(16 * 1%);
    left: calc(6 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(27) {
    top: calc(9 * 1%);
    left: calc(74 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(28) {
    top: calc(4 * 1%);
    left: calc(1 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(29) {
    top: calc(49 * 1%);
    left: calc(52 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(30) {
    top: calc(11 * 1%);
    left: calc(72 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(31) {
    top: calc(58 * 1%);
    left: calc(51 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(32) {
    top: calc(36 * 1%);
    left: calc(25 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(33) {
    top: calc(19 * 1%);
    left: calc(59 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(34) {
    top: calc(7 * 1%);
    left: calc(51 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(35) {
    top: calc(34 * 1%);
    left: calc(46 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(36) {
    top: calc(43 * 1%);
    left: calc(4 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(37) {
    top: calc(47 * 1%);
    left: calc(54 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(38) {
    top: calc(48 * 1%);
    left: calc(24 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(39) {
    top: calc(79 * 1%);
    left: calc(82 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(40) {
    top: calc(74 * 1%);
    left: calc(8 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(41) {
    top: calc(54 * 1%);
    left: calc(14 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(42) {
    top: calc(87 * 1%);
    left: calc(97 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(43) {
    top: calc(50 * 1%);
    left: calc(20 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(44) {
    top: calc(12 * 1%);
    left: calc(31 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(45) {
    top: calc(56 * 1%);
    left: calc(79 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(46) {
    top: calc(6 * 1%);
    left: calc(57 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(47) {
    top: calc(65 * 1%);
    left: calc(44 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(48) {
    top: calc(11 * 1%);
    left: calc(33 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(49) {
    top: calc(43 * 1%);
    left: calc(89 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(50) {
    top: calc(80 * 1%);
    left: calc(46 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(51) {
    top: calc(68 * 1%);
    left: calc(18 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(52) {
    top: calc(74 * 1%);
    left: calc(51 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(53) {
    top: calc(94 * 1%);
    left: calc(51 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(54) {
    top: calc(86 * 1%);
    left: calc(61 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(55) {
    top: calc(29 * 1%);
    left: calc(73 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(56) {
    top: calc(29 * 1%);
    left: calc(22 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(57) {
    top: calc(34 * 1%);
    left: calc(12 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(58) {
    top: calc(31 * 1%);
    left: calc(36 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(59) {
    top: calc(2 * 1%);
    left: calc(69 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(60) {
    top: calc(34 * 1%);
    left: calc(12 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(61) {
    top: calc(9 * 1%);
    left: calc(55 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(62) {
    top: calc(10 * 1%);
    left: calc(79 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(63) {
    top: calc(100 * 1%);
    left: calc(87 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(64) {
    top: calc(81 * 1%);
    left: calc(43 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(65) {
    top: calc(25 * 1%);
    left: calc(87 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(66) {
    top: calc(99 * 1%);
    left: calc(25 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(67) {
    top: calc(21 * 1%);
    left: calc(46 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(68) {
    top: calc(16 * 1%);
    left: calc(74 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(69) {
    top: calc(68 * 1%);
    left: calc(38 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(70) {
    top: calc(55 * 1%);
    left: calc(67 * 1%);
    animation-delay: 0s; }
  #sparkles i:nth-child(71) {
    top: calc(71 * 1%);
    left: calc(60 * 1%);
    animation-delay: 0.5s; }
  #sparkles i:nth-child(72) {
    top: calc(85 * 1%);
    left: calc(58 * 1%);
    animation-delay: 1s; }
  #sparkles i:nth-child(73) {
    top: calc(83 * 1%);
    left: calc(7 * 1%);
    animation-delay: 1.5s; }
  #sparkles i:nth-child(74) {
    top: calc(34 * 1%);
    left: calc(87 * 1%);
    animation-delay: 2s; }
  #sparkles i:nth-child(75) {
    top: calc(91 * 1%);
    left: calc(56 * 1%);
    animation-delay: 2.5s; }
  #sparkles i:nth-child(76) {
    top: calc(86 * 1%);
    left: calc(22 * 1%);
    animation-delay: 3s; }
  #sparkles i:nth-child(77) {
    top: calc(20 * 1%);
    left: calc(79 * 1%);
    animation-delay: 3.5s; }
  #sparkles i:nth-child(78) {
    top: calc(14 * 1%);
    left: calc(46 * 1%);
    animation-delay: 4s; }
  #sparkles i:nth-child(79) {
    top: calc(45 * 1%);
    left: calc(76 * 1%);
    animation-delay: 4.5s; }
  #sparkles i:nth-child(80) {
    top: calc(25 * 1%);
    left: calc(94 * 1%);
    animation-delay: 0s; }

@keyframes sparkling {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.2; }
  50% {
    opacity: 1; }
  70% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@media screen and (max-width: 1000px) {
  #quiz-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around; } }

#levels-column {
  flex: 0 0 5rem; }

#lifeline-column,
#quiz-column,
#levels-column {
  height: 28.75rem;
  padding: 1rem; }
  @media (max-width: 1000px) {
    #lifeline-column,
    #quiz-column,
    #levels-column {
      height: auto;
      width: 100%; } }

#quiz-card,
#levels-card {
  border: 0.1875rem solid white;
  border-radius: 0.625rem; }

/*********************************/
/*********** Lifelines ***********/
/*********************************/
#lifeline-column {
  flex: 0 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 1000px) {
    #lifeline-column {
      flex-direction: row;
      width: 100%; } }

#lifeline-column button {
  font-size: 1rem;
  position: relative;
  font-weight: bold;
  border-radius: 50%;
  border: 0.1875rem solid white;
  width: 6.25rem;
  height: 6.25rem; }
  #lifeline-column button:hover {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #56b0ff, 0 0 40px #08f, 0 0 50px #08f, 0 0 100px #08f;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, inset 0 0 20px #08f; }
  @media screen and (max-width: 1000px) {
    #lifeline-column button {
      width: 3.85rem;
      height: 3.85rem;
      font-size: 0.85rem; } }

#lifeline-column button:disabled {
  transition: all 0.3s; }
  #lifeline-column button:disabled:before, #lifeline-column button:disabled:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: #b71c1c;
    display: block;
    width: 100%;
    height: 0.25rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto; }
  #lifeline-column button:disabled:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #lifeline-column button:disabled:hover {
    color: none;
    text-shadow: none;
    box-shadow: none; }

/*********************************/
/************** Quiz *************/
/*********************************/
#quiz-column {
  flex: 0 0 30rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch; }

#quiz-card {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 2rem;
  overflow: hidden; }

.question {
  margin: 1rem 0 3rem 0; }

.skew-button {
  width: 100%;
  cursor: pointer;
  left: 50%;
  outline: none;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  letter-spacing: 0.1rem;
  color: white;
  transition: opacity 0.5s; }
  .skew-button span {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.25rem 3.125rem;
    z-index: 3; }
  .skew-button:before,
  .skew-button span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skewX(-20deg);
    width: 100%;
    height: 3.125rem;
    border: 0.25rem solid white;
    border-radius: 0.625rem;
    z-index: 2; }
  .skew-button span:before {
    color: white;
    display: block;
    transform: translate(-50%, -50%) skew(-20deg);
    transform-origin: center center;
    z-index: -1; }
  .skew-button:hover span:before {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #5bff5b, 0 0 40px #0f0, 0 0 50px #0f0, 0 0 100px #0f0;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #0f0, inset 0 0 20px #0f0;
    font-weight: 500; }

.answer-was-correct {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, 0 0 40px #08f, 0 0 50px #08f, 0 0 100px #08f;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f, inset 0 0 20px #08f;
  font-weight: 500; }

.answer-was-wrong {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, 0 0 40px #b71c1c, 0 0 50px #b71c1c, 0 0 100px #b71c1c;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, inset 0 0 20px #b71c1c;
  font-weight: 500; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1;
  display: none; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  display: none; }

/*********************************/
/************* Timer *************/
/*********************************/
#timer {
  text-align: center;
  position: absolute;
  top: -1rem;
  font-weight: bold;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50% !important;
  background-color: #0e1424;
  z-index: 1;
  padding: 20px !important;
  color: #ffffff;
  vertical-align: middle;
  box-shadow: 0 3px 0 0 white, 0 -3px 0 0 white, -3px 0 0 0 white, 3px 0 0 0 white, 0 0 0 3px white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #08f;
  animation: neonGlow 0.75s ease-in-out infinite alternate; }

@keyframes neonGlow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #f9df72, 0 0 40px #f9df72, 0 0 50px #f9df72, 0 0 60px #f9df72, 0 0 70px #f9df72; }
  to {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #08f, 0 0 40px #08f, 0 0 50px #08f, 0 0 60px #08f, 0 0 70px #08f, 0 0 80px #08f; } }

/*********************************/
/************ Levels *************/
/*********************************/
#levels-column {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch; }
  @media screen and (max-width: 1000px) {
    #levels-column {
      width: 100%; } }

#levels-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
  font-weight: 700;
  color: white; }
  @media screen and (max-width: 1000px) {
    #levels-card {
      display: none; } }

.levels {
  display: flex; }

.level-number {
  width: 2rem; }

.current-level {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #f9df72, 0 0 40px #f9df72, 0 0 50px #f9df72, 0 0 60px #f9df72, 0 0 70px #f9df72; }

.is-safe-level {
  color: #f9df72; }

@media screen and (min-width: 1000.1px) {
  .progress-container {
    display: none !important; } }

@media screen and (max-width: 1000px) {
  .progress-container {
    width: 100%;
    display: block !important; } }

#result-splash {
  margin-top: auto;
  margin-bottom: auto; }

.result {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  z-index: 5; }

#modal-overlay {
  z-index: 10;
  background-color: rgba(14, 20, 36, 0.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0; }

#modal-container {
  width: 25rem;
  height: 24rem;
  position: relative;
  z-index: 100;
  background-color: #0e1424;
  color: #ffffff;
  border-radius: 1rem;
  border: 0.25rem solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem; }

#close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  color: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer; }

#close_icon {
  font-size: 1.5rem; }

#cool-robot {
  font-size: 6rem;
  margin-top: 1rem; }

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 0.4em;
  color: #172244;
  padding: 1rem;
  max-width: 10rem; }

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 1.25rem solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: 0.625rem;
  margin-bottom: -1.25rem; }

.snackbar {
  max-width: 10rem;
  border: 0.25rem solid #ffffff;
  padding: 0 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, 0 0 40px #b71c1c, 0 0 50px #b71c1c, 0 0 100px #b71c1c;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4), inset 2px 2px 1px rgba(0, 0, 0, 0.4), 0 0 20px #b71c1c, inset 0 0 20px #b71c1c; }

.snackbar p {
  font-size: 1rem; }

/*********************************/
/************ Global *************/
/*********************************/
*,
::after,
::before {
  box-sizing: border-box; }

* {
  user-select: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Carrois Gothic SC", sans-serif;
  text-transform: uppercase;
  border-color: #ffffff; }

button:focus {
  outline: none; }

html,
body,
#root {
  font-size: 16px;
  color: white;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  margin: 0;
  overflow: hidden; }

button,
input,
textarea {
  background-color: transparent;
  color: #ffffff;
  font-family: inherit; }

#content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(circle, #172244, #141d38, #11182d, #0f1322, #090c18); }

.absolute-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.quiz-clicked {
  animation: clicked-keyframes 2s; }

@keyframes clicked-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
